@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
}

@font-face {
  font-family: 'title';
  src: url('../public/fonts/Candy_Planet.ttf');
}

@font-face {
  font-family: 'body';
  src: url('../public/fonts/Blink_Play.otf');
}

@font-face {
  font-family: 'valentine';
  src: url('../public/fonts/Valentines.otf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapContent {
  background-image:
    url("../public/gif/bg_love.gif"),
    url("../public/gif/bg_love2.gif");

  background-size:
    contain,
    contain;

  background-position:
    bottom center,
    top center;

  background-repeat:
    no-repeat,
    no-repeat;

  background-origin: border-box;
}

h1 {
  font-family: 'title';
}

* {
  font-family: 'body';
}
.card-shine {
  pointer-events: none;
  position: absolute;
  z-index: 20;

  width: 200%;
  height: 24px;
  left: -50%;
  bottom: -50%;

  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.9),
    transparent
  );

  animation: cardShine 3.5s linear infinite;
}

@keyframes cardShine {
  from {
    transform: translate(-100%, 100%) rotate(-35deg);
    opacity: 0;
  }
  20% { opacity: 0.6; }
  80% { opacity: 0.6; }
  to {
    transform: translate(100%, -100%) rotate(-35deg);
    opacity: 0;
  }
}